PORT=8080
APP_ENV=local
BLUEPRINT_DB_HOST=localhost
BLUEPRINT_DB_PORT=5432
BLUEPRINT_DB_DATABASE=booking_db
BLUEPRINT_DB_USERNAME=user
BLUEPRINT_DB_PASSWORD=password
BLUEPRINT_DB_SCHEMA=public

# Auth
JWT_SECRET=yoursecretkey
JWT_EXPIRY=24h
AUTH_PASSWORD_MIN_LENGTH=8

# Server
ALLOW_ORIGINS=http://localhost:5173
SWAGGER_PATH=./api/swagger.json
